body {
    font-family: 'Inter', sans-serif;
	user-select: none; 
	margin: 0;
}

.head {
	background-color: #336D32;
	color: rgb(255, 255, 255);
	position: relative;
    top: 0px;
    width: 100%;
    height: 85px;
}

.logo {
	position: absolute;
    top: -45%;
    left: -3%;
}

.button {
    font-family: 'Inter', sans-serif;
    background-color: none;
	color: rgb(255, 255, 255);
	position: relative;
    left: 800px;
    top: 30px;
    border: none;
    padding: 2px 15px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    font-size: 17px;
    border-radius: 50px;
}

.button-special {
    font-family: 'Inter', sans-serif;
    background-color: white;
	color: black;
	position: absolute;
    right: 30px;
    top: 30px;
    border: none;
    padding: 5px 15px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    font-size: 17px;
    border-radius: 50px;
}

.body { 
    background-color: none;
    color: #336D32;
    position: absolute;
    left: 0px;
    top: 10%;
    width: 100%;
    text-align: center;
}

.blockl {
    position: relative;
    width: 1000px;
    height: 229px;
    top: 250px;
    left: 25%;
    background-color: #EEEEEE;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    text-align: left;
}

.blockc {
    position: absolute;
    width: 100%;
    height: 430px;
    top: 1000px;
    background-color: #EEEEEE;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    text-align: left;
}

.text { 
    font-size: 19px;
    position: absolute;
    bottom: 6px;
    left: 15px;
    width: 970px;
    color: #323030;
    text-align: justify;
}

.blockl-img {
    position: absolute;
    width: 384px;
    height: 384px;
    left: 100%;
    background-color: #EEEEEE;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    text-align: left;
}

.blockr {
    position: absolute;
    width: 1000px;
    height: 229px;
    top: 680px;
    left: 40%;
    background-color: #EEEEEE;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    text-align: right;
}

.photo {
    position: absolute;
    top: 1%;
    left: 1%;
}

.blockr-img {
    position: absolute;
    width: 384px;
    height: 384px;
    right: 1000px;
    top: -155px;
    background-color: #EEEEEE;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    text-align: left;
}

.blockf {
    position: absolute;
    width: 1000px;
    height: 300px;
    top: 1700px;
    left: 40%;
    background-color: #EEEEEE;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    text-align: right;
}

.blockf-img {
    position: absolute;
    width: 384px;
    height: 488px;
    right: 1000px;
    top: -187px;
    background-color: #EEEEEE;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    text-align: left;
}

.lines {
    position: relative;
    top: 55px;
    left: 40%;
}

.welcom {
    position: absolute;
    left: 45%;
}

.welcom-text {
    position: absolute;
    top: 20%;
    left: 35%;
}

.infoo {
    position: absolute;
    top: 540px;
    left: 48%;
}

.ruko {
    position: absolute;
    left: 30px;
    top: 10px;
}

.adve {
    position: absolute;
    left: 1300px;
    top: 1620px;
}

.olymp {
    position: absolute;
    left: 1300px;
    top: 1440px;
}

.foot {
    font-family: 'Inter', sans-serif;
	background-color: #336D32;
    position: absolute;
    right: 0px;
    bottom: -1250px;
    width: 100%;
    height: 250px; 
}

.up {
    position: absolute;
    width: 98%;
    left: 1%;
    border-top: 4px dashed #336D32;
}

.down {
    position: absolute;
    width: 98%;
    left: 1%;
    top: 92%;
    border-top: 4px dashed #336D32;
}

.center {
    position: absolute;
    width: 88%;
    left: 6%;
    top: 45%;
    border-top: 1px solid #FFFFFF;
}

.code {
    color: #FFFFFF;
    font-size: 17px;
    position: absolute;
    top: 40%;
    left: 6%;
}

.vk {
    position: relative;
    top: 26%;
    left: 6%;
}

.house {
    position: absolute;
    top: 16%;
    right: 6%;
}

.houses {
    color: #FFFFFF;
    font-size: 18px;
    position: absolute;
    top: 6%;
    right: 8%;
    text-align: right;
}

.location {
    position: absolute;
    top: 32%;
    right: 6%;
}

.locations {
    color: #FFFFFF;
    font-size: 18px;
    position: absolute;
    top: 21%;
    right: 8%;
    text-align: right;
}

.sms {
    position: absolute;
    top: 53%;
    right: 6%;
}

.smss {
    color: #FFFFFF;
    font-size: 18px;
    position: absolute;
    top: 41%;
    right: 8%;
    text-align: right;
}

.call {
    position: absolute;
    top: 70%;
    right: 6%;
}

.calls {
    color: #FFFFFF;
    font-size: 18px;
    position: absolute;
    top: 59%;
    right: 8%;
    text-align: right;
}

.avatar {
    position: relative;
    top: 80px;
    left: 15px;
}

.name {
    font-size: 25px;
    position: absolute;
    top: 40px;
    left: 280px;
    color: black;
}

.info {
    font-size: 20px;
    position: absolute;
    top: 120px;
    left: 280px;
    color: black;
}

.infos {
    font-size: 20px;
    position: absolute;
    top: 200px;
    left: 280px;
    color: black;
}

.infof {
    font-size: 20px;
    position: absolute;
    top: 280px;
    left: 280px;
    color: black;
}